@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
.body{
    font-family: "Josefin Sans";
    min-width: 100vw;
    background-color: wheat;
}
.nav{
    width: 100vw;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}
.pageTitle{
    grid-column: span 4;
    text-align: center;
}
.nav>h3{
    text-align: center;
    padding: .5rem 0 .5rem 0;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
}
.nav>h3:hover{
    background-color: rgb(222, 229, 236);
}
