@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.body{
    font-family: "Josefin Sans";
    background-color: red;
}

.nav{
    width: 100%;
    background-color: aliceblue;
    gap: 1rem;
    color: #945153;
}
.navButton{
    width: 30px;
    height: 30px;
    background-color: tomato;
    position: fixed;
    top: 0;
    left: 100vw;
    margin-top: .5em;
    transform: translate(-150%,50%);
}
.pageTitle{
    text-align: center;
    padding: 1em 0 1em 0;
}
.pageTitle>h1{
    color: #D88E8E;
}
.menu{
    background-color: violet;
}
.menu>h3{
    text-align: center;
    padding: .5rem 0 .5rem 0;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
}
.menu>h3:hover{
    background-color: rgb(222, 229, 236);
}

.picture{
    border: 5px solid #D2DCE9;
    margin-bottom: 1em;
}   

.gridContainer{
    column-count: 4;
    position: relative;
    margin: auto;
}