@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.body{
    font-family: "Josefin Sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 100%;
    background-color: aliceblue;
    gap: 1rem;
    color: #945153;
}
.navButton{
    width: 30px;
    height: 30px;
    background-color:rgb(222, 229, 236);
    position: absolute;
    left: 100vw;
    transform: translate(-150%,23px);
    border-radius: 10px;
    display: none;
}
.pageTitle{
    text-align: center;
    padding: 1em 0 1em 0;
}
.pageTitle>h1{
    color: #D88E8E;
}
.menu{
    background-color: none;
}
.menu>h3{
    text-align: center;
    padding: .5rem 0 .5rem 0;
    cursor: pointer;
}
.menu>h3:hover{
    background-color: rgb(222, 229, 236);
}

.picture{
    margin-bottom: 10px;
    border-radius: 10px;
}   

.gridContainer{
    width: 70%;
    margin: auto;
    margin-top: 2em;
    position: relative;
    column-count: 2;
    gap: 10px;
}


/* media queries */
@media screen and (max-width:300px){
    .gridContainer{
        column-count: 1;
    }
    .navButton{
        display: block;
    }
}
@media screen and (min-width:300px) and (max-width:500px) {
    .gridContainer{
        column-count: 2;
        gap: 5px;
    }
    .picture{
        margin-bottom: 5px;
    }
    .navButton{
        display: block;
    }
}

@media screen and (min-width:500px) {
    .menu{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .gridContainer{
        column-count: 3;
        max-width: 900px;
    }
}

@media screen and (min-width:900px) {
    .gridContainer{
        column-count: 4;
    }
}