@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
.body{
    padding: 20px;
    font-family: "Poppins";
    margin: auto;
}
.header{
    margin: 40px auto;
    border-bottom: 1px solid black;
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin: 20px;
}
.mainArticle{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
    padding-bottom: 60px;
}
.article{
    display: grid;
    grid-template-columns: 1fr;
}
.mainPicture,.smallPicture{
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.mainText,.smallText{
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.mainText>p,.smallText>p{
    padding-top: 10px;
}
.mainPicture{
    width: 70%;
    aspect-ratio: 1;
    justify-self: center;
}
.smallPicture{
    width: 50%;
    aspect-ratio: 1;
    justify-self: start;
}
@media screen and (max-width: 800px){
    .gridContainer{
        display: flex;
        flex-direction: column;
    }
    .article{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .mainPicture{
        width: 100%;
    }
    .mainText{
        padding: 40px;
        text-align: center;
    }
    .smallPicture{
        width: 100px;
        aspect-ratio: 1;
    }
    .smallText{
        padding: 20px;
    }
}
@media screen and (max-width:600px) {
    .header{
        margin:0;
    }
    .mainArticle{
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 0;
    }
    .mainPicture{
        width: 80%;
    }
}
@media screen and (max-width:500px) {
    .mainPicture{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .mainArticle{
        padding: 0;
    }
    .mainPicture{
        width: 100%;
    }
    .mainText{
        padding-bottom: 20px;
    }
    .smallText{
        padding: 10px 0 0 0;
    }
}