@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* colors and fonts */
.body{
    font-family: "Raleway";
    background-color: wheat;
}
.header{
    background-color: #0d5c63;
    width: 100%;
    height: 4rem;
    text-align: center;
    padding: 12px;
    color:white;
    cursor: pointer;
}
.header:hover{
    color:aqua;
}
.menu{
    padding: 10px;
    background-color: #247b7b;
    color:white;
}
.menu>div{
    padding-top: 10px;
}
.menu>div>p{
    cursor: pointer;
}
.menu>div>p:hover{
    color:aqua;
}
.content{
    background-color: white;
}
.content>h1{
    font-size: 2rem;
    padding: 20px;
}
.content>article{
    padding: 60px 20px 60px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: auto;
}
.content>div{
    width: 100%;
    height: 200px;
    position: relative;
}
.sidebar{
    background-color: #247b7b;
    color:white;
    padding: 20px;
}
.footer{
    width: 100%;
    height: 2rem;
    background-color: cadetblue;
    color:white;
}
.gridContainer{
    background-color: thistle;
    min-width: 100%;
    height: 100vh;
} 

/* layouts */
.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
}
.menu>div{
    display: flex;
    flex-wrap: wrap;
    gap:12px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:450px) {
    .content>article{
        border-right: 5px solid #0d5c63;
    }
}
@media screen and (min-width:450px) and (max-width:900px) {
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
    .header{
        grid-column: span 6;
    }
    .menu{
        grid-column: span 6;
    }
    .menu>div{
        gap: 12px
    }
    .content{
        grid-column: span 5;
    }
    .content>article{
        max-width: 500px;
    }
    .sidebar{
        grid-column: span 1;
    }
    .footer{
        grid-column: span 6;
    }
}
@media screen and (min-width:900px) {
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: 4rem 1fr 2rem;
    }
    .header{
        grid-column: span 8;
    }
    .menu{
        grid-column: span 1;
        text-align: center;
        padding-top: 20px;
    }
    .menu>div{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 20px;
    }
    .content{
        grid-column: span 6;
    }
    .content>h1{
        font-size: 3rem;
        padding: 30px;
    }
    .content>div{
        height: 300px;
    }
    .content>article{
        padding-left: 100px;
        padding-right: 100px;
    }
    .sidebar{
        grid-column: span 1;
    }
    .footer{
        grid-column: span 8;
    }
}