.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    .title{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-self: end;
        align-self: center;
        font-size: 3rem;
        font-weight: bolder;
        background-color: black;
        padding: .5rem;
        grid-row: span 2;
        div{
            &:nth-child(1){
                color: #505050;
            }
            &:nth-child(2){
                color: white;
                align-self:end;
            }
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-self: start;
        gap: 8px;
        border-left: 4px solid black;
        font-weight: lighter;
        font-family: 'Courier New', Courier, monospace;
        padding:.5rem;
        margin-top: 14px;
        .link{
            text-decoration: none;
            color: black;
            font-size: 1.3rem;
            &:hover{
                color: #454545;
            }
        }
    }
}